@import "tailwindcss";

.input{
    @apply w-full border rounded border-violet-200 py-1 px-2 focus:outline-violet-400
}

.btn-1{
    @apply px-3 py-1 bg-violet-700 rounded font-semibold text-sm text-white hover:bg-violet-500 hover:cursor-pointer active:bg-violet-700;
}

.delete-btn{
    @apply px-2 py-1 rounded font-semibold text-sm hover:cursor-pointer border text-red-400 hover:text-white hover:bg-red-400 active:bg-red-600;
}

.check-btn{
    @apply px-2 py-1 rounded font-semibold text-sm hover:cursor-pointer border text-violet-500 hover:text-white hover:bg-violet-500 active:bg-violet-700 mr-2;
}

.list-item{
    @apply flex justify-between capitalize *:space-x-2 border-b border-b-gray-200 py-2
}