@import "tailwindcss";

@theme{
    --color-brand: #2fbf98 ;
    --color-brand-hover: #05b082;
}

.card {
    @apply flex justify-between rounded bg-gray-100 px-2 py-1 shadow items-center *:items-center *:last:m-1.5;
}

.card-content{
    @apply flex w-[50%] justify-between *:capitalize *:first:font-semibold;
}

.cancel-btn{
    @apply p-1 border-2 border-transparent hover:border-black/60 rounded hover:cursor-pointer;
}

.actived {
    @apply border-b-2
}

.btn{
    @apply px-3 py-1 text-white font-semibold rounded hover:cursor-pointer shadow shadow-black/20
}

.day-span{
    @apply bg-brand/80 px-2 py-0.5 text-sm font-semibold rounded-lg
}