@import "tailwindcss";

@theme{
    --color-brand: #2fbf98 ;
    --color-brand-hover: #05b082;
    --color-brand-2:#530343;
    --color-brand-2-light:#670754;
    --color-brand-2-more-light:#a31387;
    --color-brand-violate:#8d57cb; 
    --color-brand-navy-dark:#181e38;
    --color-brand-navy-dark-2:#30418c;
    --color-brand-navy-light:#585e80;
    --color-table-gray:#e8e7ed;
    --color-table-white:#f9f7fa;
}

.card {
    @apply flex justify-between rounded bg-gray-100 px-2 py-1 shadow items-center *:items-center *:last:m-1.5 bg-[#30418c];
}

.card-content{
    @apply flex w-[50%] justify-between *:capitalize *:first:font-semibold;
}

.cancel-btn{
    @apply p-1 border-2 border-transparent hover:border-black/60 rounded hover:cursor-pointer;
}

.actived {
    @apply border-b-2
}

.btn{
    @apply px-3 py-1 text-white font-semibold rounded hover:cursor-pointer shadow shadow-black/20
}

.day-span{
    @apply bg-brand-2-light px-2 py-0.5 text-sm font-semibold rounded-lg
}

.day-title{
    @apply font-semibold flex *:mr-2 items-center justify-items-center
}

.inner-task-li{
   @apply flex flex-col px-3 *:border-b *:last:border-none *:border-white/5 *:py-1 *:hover:text-brand-2-more-light *:hover:*:*:first:text-white *:*:*:first:text-black/70 text-white/50;
}

.accordion{
    @apply rounded-2xl px-3 py-2
}

.accordion-title{
    @apply justify-between p-2;
}

.accordion-content{
    @apply py-2 pl-6 text-white/60
}